@model ElysiumMagtheridon.Models.PageModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=B1.0">
    <title>[H] Elysium on Magtheridon (US)</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="background"></div>
    <div class="background-overlay"></div>

    @Html.Partial("~/Views/Partials/Navigation.cshtml")
    <div class="body-content">
        @RenderBody()
    </div>
    

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/Content/js")
    <div class="page-footer" id="page-footer">
        <div class="realm-name text-border">@Model.FooterText</div>
    </div>
</body>
</html>